<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <div class="text-end">
    <button type="button" class="btn btn-success">add</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>imgURL</th>
        <th>desc</th>
        <th>price</th>
        <th>unit</th>
        <th>oprate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>a.jpg</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>20</td>
        <td>元</td>
        <td>
            <button type="button" class="btn btn-warning">EDIT</button>
            <button type="button" class="btn btn-danger">DEL</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>b.jpg</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>30</td>
        <td>元</td> 
        <td>
            <button type="button" class="btn btn-warning">EDIT</button>
            <button type="button" class="btn btn-danger">DEL</button>
        </td> 
      </tr>
      <tr>
        <td>3</td>
        <td>c.jpg</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>40</td>
        <td>元</td>
        <td>
            <button type="button" class="btn btn-warning">EDIT</button>
            <button type="button" class="btn btn-danger">DEL</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
