input{
    color: rgb(73, 73, 173);
     background-color: rgb(240, 198, 134);
     /* width: 30vh; */
     margin-left: 5vh;
}
select{
    color: rgb(73, 73, 173);
    background-color: rgb(240, 198, 134);
     width: 80%;
     text-align:center;
     margin-left: 10%;
}
p{
    margin-left: 3vh;
}
fieldset {
    width: 50%;
    margin: auto;
}

legend {
    background-color: #000000;
    color: #fff;
    padding: 3px 20px;

}

table {
    width: 100%;
}

.tablecenter{
    width: 90%;
    margin: auto;
} 

.input_IN_table{
    margin-left: 0px;
}
/* 避免<input>套用.input{} */

.p_IN_table{
    margin-left: 0px;
}
/* 避免<p>套用.p{} */


.tdcenter {
    width: 33vh;
}

.tdcolor {
    background-color: blanchedalmond;
}

.textcenter {
    text-align: center;
}

.datetable{
    margin: auto;
}

.timeset{
    width: 40%;
    height: auto;
    font-size:xx-small;
    letter-spacing:-1.4px;
}

/* td{

    background-color: blue;
} */

fieldset {
border: 2px solid #0077b6; /* 設置外框線為 2px 寬的實線，並指定顏色 */
border-radius: 10px; /* 可選，設置圓角外觀，使外框線更圓滑 */
/* padding: 20px;  */
/* 可選，設置內邊距以使內容不緊貼外框線 */
/* 這是ChatGPT */
}