<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
<form action="" method="post">
        <hr>
        <div>
            <label for="acc">帳號:<br></label>
            <input type="text" name="acc" id="acc">
        </div>
        <div>
            <label for="pwd">密碼:<br></label>
            <input type="password" name="pwd" id="pwd">
        </div>
        <div>
            <br>
        <input type="submit" value="送出">
        </div>
        
        <hr>
    </form>
</body>
</html>